
<!--<body>-->
<!--<div class="main">-->
<!--&lt;!&ndash;  <div class="bubbles">&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:11"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:19"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:25"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:15"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:10"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:25"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:18"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:15"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:23"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:11"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:16"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:13"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:22"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:18"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:16"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:17"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:19"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:22"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:25"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:29"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:11"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:28"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:14"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:19"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:15"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:11"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:21"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:13"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:18"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:15"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:13"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:18"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:21"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:17"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:20"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:11"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:15"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:17"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:12"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:17"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:12"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:17"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:12"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:27"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:17"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:12"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span style="&#45;&#45;i:7"></span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
<!--<div class="login-wrap">-->
<!--  <div class="login-html">-->
<!--    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>-->
<!--    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>-->
<!--    <div class="login-form">-->
<!--      <div class="sign-in-htm">-->
<!--        <div class="group">-->
<!--          <label for="user" class="label">Username</label>-->
<!--          <input id="user" type="text" class="input">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--          <label for="pass" class="label">Password</label>-->
<!--          <input id="pass" type="password" class="input" data-type="password">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--          <input id="check" type="checkbox" class="check" checked>-->
<!--          <label for="check"><span class="icon"></span> Keep me Signed in</label>-->
<!--        </div>-->
<!--        <div class="group">-->
<!--          <input type="submit" class="button" value="Sign In">-->
<!--        </div>-->
<!--        <div class="hr"></div>-->
<!--        <div class="foot-lnk">-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="sign-up-htm">-->
<!--        <div class="group">-->
<!--          <label for="user" class="label">Username</label>-->
<!--          <input id="user" type="text" class="input">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--          <label for="pass" class="label">Password</label>-->
<!--          <input id="pass" type="password" class="input" data-type="password">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--          <label for="pass" class="label">Email Address</label>-->
<!--          <input id="pass" type="text" class="input">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--          <input type="submit" class="button" value="Sign Up">-->
<!--        </div>-->
<!--        <div class="hr"></div>-->
<!--        <div class="foot-lnk">-->
<!--          <label for="tab-1"></label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->



<!--</div>-->
<!--</body>-->

<!--<router-outlet></router-outlet>-->



<!--<div class="wrap-login">-->
<!--  <div class="container">-->
<!--    <form class="">-->
<!--      <mat-card class="login-box">-->
<!--        <mat-card-header>-->
<!--          <img mat-card-avatar [src]="" alt="Logo">-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Email</mat-label>-->
<!--            <input matInput type="email" placeholder="Enter your email" formControlName="email" required class="form-field">-->
<!--&lt;!&ndash;            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>&ndash;&gt;-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input matInput type="password" placeholder="Enter your password" formControlName="password" required class="form-field">-->
<!--&lt;!&ndash;            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password should be at least 6 characters long</mat-error>&ndash;&gt;-->
<!--          </mat-form-field>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button mat-raised-button color="primary">Login</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<!--<footer>-->
<!-- <app-footer></app-footer>-->
<!--</footer>-->




<!--<div class="wrap-login">-->
<!--  <div class="container">-->
<!--    <form class="">-->
<!--      <mat-card class="login-box">-->
<!--        <mat-card-header>-->
<!--          <img mat-card-avatar [src]="" alt="Logo">-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Email</mat-label>-->
<!--            <input matInput type="email" placeholder="Enter your email" formControlName="email" required class="form-field">-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input matInput type="password" placeholder="Enter your password" formControlName="password" required class="form-field">-->
<!--          </mat-form-field>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button mat-raised-button color="primary">Login</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
